html {
    height: 100%
}
body {
    font-family: 'Montserrat', sans-serif;
}

section {
    text-align: center;
}

.buttons {
    position: absolute;
    display: flex;
    float: right;
    flex-direction: column;
    right: 30px;
    gap: 9px;
    border-left: 2px solid black;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.buttons a {
    width: 50px;
    text-decoration: none;
    color: black;
}