/* html {
    height: 100%;
    width: 50%;
    padding: 0;
} */

body {
    font-family: 'Montserrat', sans-serif;
}

#home {
    position: fixed;
    display: flex;
    flex-direction: column;
}

#hello {
    position: relative;
    top: 30px;
    left: 5%;
    font-size: large;
    margin: 0%;
}

h1 {
    position: relative;
    top: 35px;
    left: 35px;
    margin: 0%;
    /* width: fit-content; */
}

#this_is_my {
    position: relative;
    top: 38px;
    left: 100px;
    width: fit-content;
    margin: 0%;
}

#profilepic {
    position: fixed;
    top: 200px;
    left: 33px;
    height: 209px;
    border: 3px solid black;
}

.buttons {
    position: fixed;
    top: 11px;
    left: 330px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    border-left: 2px solid black;
    padding: 20px;
}

.buttons a {
    text-decoration: none;
    color: black;
}

#github,
#linkedin {
    position: relative;
    bottom: auto;
    height: 30px;
}

@media screen and (max-width: 400px) {
    #home {
        left: 20px;
    }
    .buttons {
        position: relative;
        display: block;
        top: 120px;
        left: 60px;
        width: fit-content;
        border: 1px solid black;
        z-index: 1;
    }
}