html {
    background-color: #fffbf0;
    height: 100%
}
body {
    font-family: 'Montserrat', sans-serif;
}

.buttons {
    display: flex;
    
}

.buttons a {
    width: 50px;
    gap: 50px;
    text-decoration: none;
    color: black;
}
